.body {
    max-width: 1200px;
    margin: 20px auto;
}

.app {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    padding: 20px;
}

.header {
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    max-width: 100px;
    height: auto;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
}

.nav-items {
    list-style: none;
    display: flex;
    gap: 40px;
    padding: 0;
}

.nav-items li {
    cursor: pointer;
}

.filter-btn {
   margin: 10px;
   padding: 10px;
   cursor: pointer;
}

.res-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Flexible columns */
    gap: 20px;
    padding: 20px;
    max-width: 1200px; /* Set a max width for elegance */
    margin: 0 auto; /* Center align */
}

.res-card {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    transition: transform 0.2s ease-in-out;
}

.res-card:hover {
    transform: scale(1.05);
}

.res-card h3 {
    margin: 10px 0 5px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.res-card h4 {
    margin: 5px 0;
    font-size: 14px;
    color: #666;
    font-weight: 500;
}

.res-container :hover{
    border: 1px solid #333;
    cursor: pointer;
}

.res-logo {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.filter{
    display: flex;
}

.search{
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}

.menu-container {
    padding: 20px;
    max-width: 800px;
    margin: auto;
  }
  
  .menu-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .menu-list {
    list-style: none;
    padding: 0;
  }
  
  .menu-item {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
  }
  
  .menu-image {
    width: 80px;
    height: 80px;
    border-radius: 5px;
    object-fit: cover;
  }
  
  .menu-details {
    flex: 1;
  }
  
  .menu-name {
    font-size: 18px;
    font-weight: bold;
  }
  
  .menu-category {
    font-size: 14px;
    color: #777;
  }
  
  .menu-description {
    font-size: 14px;
    color: #555;
    margin: 5px 0;
  }
  
  .menu-price {
    font-size: 16px;
    font-weight: bold;
  }
  
  .menu-rating {
    font-size: 14px;
    color: #ff9800;
  }
  
  .menu-tag {
    font-size: 12px;
    padding: 3px 8px;
    border-radius: 5px;
    display: inline-block;
  }
  
  .veg {
    background-color: #4caf50;
    color: white;
  }
  
  .non-veg {
    background-color: #d32f2f;
    color: white;
  }
  